
@{
}
<div style="position:relative;display:flex; justify-content: space-evenly;align-items: center;margin-top:70px" >
    <img src="~/css/pics/cnx_ins.jpg" />
    <form style="text-align:center; background-color:rgba(0,0,0,0.5)" class="card">
        <fieldset>
            <legend style="color:#13C995; margin-top:60px; margin-bottom:30px; font-size:40px"><b><i>Connexion</i></b></legend>
            <div class="mb-3">
                <input style="background-color:rgba(255,255,255,0.5)" type="text">
            </div>
            <div class="mb-3">
                <input style="background-color:rgba(255,255,255,0.5)" type="password">
            </div>
            <div>
                <a href="@Url.Action("Inscription","Home")" style="color:#33C198"><i>Créer un compte</i></a>
            </div>
        </fieldset>
    </form>
</div>
     

    <style>
        img{
            width:80%;
            position:absolute;
        }
        fieldset{
            position:relative;
        }
        form{
            width:400px;
            height:100px;
        }
        input{
            border-radius:7px;
            padding: 8px 45px;
            margin-top:10px;
            border-top-color:#fff;
            border-bottom-color: #33C198;
            border-left-color: #fff;
            border-right-color: #33C198;
            box-shadow: 0 3px 10px rgba(51, 193, 152, 0.5);
        }

        .card {
            border: 1px solid #33C198;
            padding: 10px;
            height:450px;
            box-shadow: 0 10px  10px rgba(51, 193, 152, 0.5);
        }
    </style>