@{
}
<div style="position:relative;display:flex; justify-content: space-evenly;align-items: center;margin-top:70px">
    <img src="~/css/pics/cnx_ins.jpg" />
    <form style="text-align:center;  margin-top:-40px; background-color:rgba(0,0,0,0.6)" class="card">
        <fieldset>
            <legend style="color:#13C995;"><b><i>Inscription</i></b></legend>
            <div>
                <label for="inputNom">Nom</label>
                <input type="text" class="form-control" style="background-color:rgba(255,255,255,0.5)" id="inputNom">
            </div>
            <div>
                <label for="inputPrenom">Prénom</label>
                <input type="text" class="form-control" style="background-color:rgba(255,255,255,0.5)" id="inputPrenom">
            </div>
            <div>
                <label for="inputTelephone">Téléphone</label>
                <input type="text" class="form-control" style="background-color:rgba(255,255,255,0.5)" id="inputTelephone">
            </div>
            <div>
                <label for="inputEmail">Email</label>
                <input type="email" class="form-control" style="background-color:rgba(255,255,255,0.5)" id="inputEmail">
            </div>
            <div>
                <label for="inputAdresse">Adresse</label>
                <input type="text" class="form-control" style="background-color:rgba(255,255,255,0.5)" id="inputAdresse">
            </div>
            <div>
                <label for="inputUsername">Nom d'utilisateur</label>
                <input type="text" class="form-control" style="background-color:rgba(255,255,255,0.5)" id="inputUsername">
            </div>
            <div>
                <label for="inputPassword">Mot de passe</label>
                <input type="password" class="form-control" style="background-color:rgba(255,255,255,0.5)" id="inputPassword">
            </div>
            <div style="display: flex; justify-content: flex-end; gap:10px; margin-top:7px">
                <button type="reset" class="btn btn-danger">Annuler</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </fieldset>
    </form>
</div>


<style>
    img {
        width: 89%;
        position: absolute;
        margin-top:-53px;
    }

    fieldset {
        position: relative;
    }

    

    input {
        border-radius: 7px;
        padding: 8px 45px;
        margin-top: 10px;
        border-top-color: #fff;
        border-bottom-color: #33C198;
        border-left-color: #fff;
        border-right-color: #33C198;
        box-shadow: 0 3px 10px rgba(51, 193, 152, 0.5);
    }

    .card {
        border: 1px solid #33C198;
        width:60%;
        padding: 10px;
     
        box-shadow: 0 10px 10px rgba(51, 193, 152, 0.5);
    }

    .btn-primary {
        background-color: #33C198;
        border-color: #33C198;
    }
    label{
        font-weight: bold;
        color:#33C198;
    }
    }
</style>

